<h1>New Event</h1>

<%= @event.errors.each do |err| %>
    <%= err %>
<% end %>

<%=form_with model: @event do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :time %><br>
    <%= form.date_field :time %>
  </div>
    
  
  <div>
    <%= form.submit %>
  </div>

  <%= "cuaaaaa #{current_user.id}" %>
<% end %>
