<h1>Event</h1>
<br>

<h2>title</h2>
<%= @event.title %>
<h2>time</h2>
<%= @event.time %>
<%= "Creator: #{@event&.creator&.email}" %>
<br>

<% if @attendees.include?(current_user) %>
  <p>
    <%= 'You are attending this event!' %>
  </p>

<% else %>
  <h2>Attend event:</h2>
    <%= form_with model: [ @event, @event.attendances.build ] do |form| %>
        <%= form.submit %>
    <% end %> 
<% end %>

<h2> Attendee list </h2>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email %>
    <br>
  <% end %>



<br>
